*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('body\ Background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
    max-height: fit-content;
    /* counter-reset: temp; */
    font-family: Arial, Helvetica, sans-serif;
}

                                         /* NavBar component  */
.active{
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.unlist{
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 20px;

}

.forNavLink{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.forNavLink:hover{
    color: aqua;
}


                                        /* Speech component */
.parent{
    /* border: 2px solid white; */
    margin-top:  5vh;
    margin-left:  15vw; 
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
/* .one,.three{border: 2px solid blue; } */

.select{ 
    color: white;
    background-color: rgb(146, 14, 139);
    border-radius: 5px;
    border: none;
 }
 
.transcript{
    border: 2px solid white;
    border-radius: 10px;
    width: 70%;
    height: 45vh;
    margin: 10px;
    color: white;
    overflow: auto;
}
.one,.three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    color: white;
}
.three{
    margin-bottom: -25px;
}

.parent img{
    cursor: pointer;
}
.clipboard:hover{
    box-shadow: 1px 1px 2px 2px rgb(163, 19, 168);
}

.forCenter{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.forCenter img:hover{
    box-shadow: 1px 1px 2px 2px rgb(155, 20, 155);
}


                                        /* Media Queries */
@media screen and (min-width:300px) and (max-width:570px) {
    .parent span{
        font-size: 0.8em;
    }
    .forSelect{
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .select{
        width: 150px;
    }
    .forCenter span{
        text-align: center;
    }
}
@media screen and (min-width:0px) and (max-width:300px) {
    .parent{
        margin-left: 20vw;
    }
    .parent img{
        width: 25px;
        height: 28px;
    }
    .parent span{
        font-size: 0.6em;
    }
    .forCenter span{
        text-align: center;
    }
    .forSelect{
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .select{
        font-size: 0.6em;
        width: 95px;
    }
}
@media screen and  (min-height:0px) and (max-height:920px){
    .transcript{
        height: 50vh;
    }
}